extends layout

block content
  .row
    nav
      .nav-wrapper.pink.darken-4(class='#ff4081')
        a#font.brand-logo ARanimal
        a.button-collapse( data-activates='nav-side')
          i.material-icons menu
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a.get-started GET STARTED
        ul#nav-side.side-nav
          li
            a.get-started GET STARTED
    #o.row
      #black
        #back
        .content
          .row
            .col.s12
              
    #view
      .view-button
        a#get-button.waves-effect.waves-light.btn.pink.darken-4(class='#880e4f') View Animal
        a#view-fb-button.waves-effect.waves-light.btn.pink.darken-4(class='#880e4f') View Feedback
        a#add-button.waves-effect.waves-light.btn.pink.darken-4(class='#880e4f')(href='http://localhost:3000/animal/') Add Animal
      br
      hr
      .view-table
        .col.s12
          table#list.striped
            thead
              tr
                th Name 
                th State
                th Cost
                th Area
                th Summary
                th
            tbody
              tr
                td.name 
                td 
                td 
                td 
                td
                td
                  //- i.material-icons.delete delete
                  //- i.material-icons.edit edit
