extends layout

block content
  .row
    nav
      .nav-wrapper.pink.darken-4(class='#ff4081')
        a#font.brand-logo ARanimal     
    #view
      .view-button
        a#get-button.waves-effect.waves-light.btn.pink.darken-4(class='#880e4f') View Animal
        a#view-fb-button.waves-effect.waves-light.btn.pink.darken-4(class='#880e4f') View Feedback
        a#add-button.waves-effect.waves-light.btn.pink.darken-4(class='#880e4f')(href='http://localhost:3000/api/') Add Animal
      br
      hr
      .view-table
        .col.s12
          table#list.striped
            thead
            
            tbody
              tr
                td.name 
                td 
                td 
                td 
                td
                td
                  //- i.material-icons.delete delete
                  //- i.material-icons.edit edit
