extends layout

block content
  head
    title Login
  body
    nav
      .nav-wrapper.pink.darken-4(class='#ff4081')
        a#font.brand-logo ARanimal     
    .login
      form.formlogin(action='/api/login')
        h5.dn Đăng nhập
        | User name:
        br
        input#username.col.s11.m8.l6(type='text', name='username')
        br
        |  Password:
        br
        input#password.col.s11.m8.l6(type='password', name='psw')
        br
      br
      button#login.waves-effect.waves-light.btn.pink.darken-4(class='#880e4f') Login
    